Turtle/turtle_image_drawer.py
Keras/__pycache__/Keras_PyQt_Paint_Model.cpython-310.pyc
Keras/__pycache__/keras.cpython-310.pyc
/Sieci pretrenowane/.venv
/docker/Docker, Compose, Traefik - Przyklady-20260105
docker/Zadanie 7.3/traefik.exe
docker/zadanie 7.4/traefik.exe
/django
/Flask/flask_session
/Flask/flask_session
Sieci pretrenowane/faces/1/tor-browser-windows-x86_64-portable-15.0.3.exe
Sieci pretrenowane/faces/1/scoped_dir22268_908849972/tor-browser-windows-x86_64-portable-15.0.3.exe
Flask/flask_session/2029240f6d1128be89ddc32729463129
