/* Nawigacja */
nav {
    background-color: #222;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
}

/* GRID – widok główny */
.grid-container {
    margin: 30px auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.grid-item {
    background: #f2f2f2;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.4s;
}

/* Animacja po najechaniu */
.grid-item:hover {
    transform: scale(1.1);
}

/* Flex – druga strona */
.flex-container {
    display: flex;
    gap: 20px;
    margin: 40px;
}

.flex-box {
    flex: 1;
    background: #d9e7f7;
    padding: 20px;
    border-radius: 10px;
}